/* Cambiando algunos detalles de las 
etiquetas semánticas */

body {
  line-height: 1;
}

/* Algunos colores que estaré usando
y que no están incluidos en el framework */

.white-bg {
  background-color: white;
}

.lab-yellow-bg {
  background-color: #F7B617;
}

.dark-grey-bg {
  background-color: #2B2B2B;
}

.dark-grey-text a {
  color: #2B2B2B;
}

/* Etiqueta temporal para ver la ubicación de las 
columnas */

/* .column {
  border: 1px solid black;
} */

/* Líneas al lado del texto */

.sidelines {
  margin-left: 5px;
  margin-right: 5px;
}

.line {
  width: 30%;
  height: 1px;
}

/* Posiciones */

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
}

.hright {
  justify-content: flex-end;
}

.hleft {
  justify-content: flex-start;
}

/* Padding y márgenes */

.padding-both-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-top-small {
  padding-top: 2em;
}

.padding-bottom-small {
  padding-bottom: 2em;
}

.padding-both-large {
  padding-top: 10em;
  padding-bottom: 10em;
}

.padding-top-large {
  padding-top: 10em;
}

.padding-bottom-large {
  padding-bottom: 10em;
}

.padding-large {
  padding: 2.5em;
}

/* Invisibiliza elementos */

.invisible {
  display: none;
}

/* Modificaciones a IDs específicos */

#navbar {
  -webkit-transition:  all .3s;
  transition:  all .3s;
}

#navbar.shrink {
  height: auto;
  background-color: black;
}

.shrink a {
  color: white;
}

#header {
  background-image: url("../images/taxi.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-transition:  all .3s;
  transition:  all .3s;
}

#drive {
  background-image: url('../images/conduce.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#footer {
  margin-bottom: 0;
}

#logo-inside {
  height: 1.2em;
  margin-bottom: -1px;
  margin-left: 3px;
}

#travel {
  padding-left: 0;
}
/* Modificaciones para mejorar la experiencia responsive
que no vienen incluidas en el framework */