/* Cambiando algunos detalles de las 
etiquetas semánticas */

body {
  line-height: 1;
}

a {
  color: white;
}

a:hover {
  color: #F7B617!important;
}

/* Algunos colores que estaré usando
y que no están incluidos en el framework */

.white-bg {
  background-color: white;
}

.lab-yellow-bg {
  background-color: #F7B617;
}

.dark-grey-bg {
  background-color: #2B2B2B;
}

.dark-grey-text a {
  color: #2B2B2B;
}

.transparent {
  background-color: transparent;
}

.border-transparent {
  border: 1px solid white;
}

.input::-webkit-input-placeholder {  
  color: white; 
} 
.input::-moz-placeholder {   
  color: white; 
} 
.input:-ms-input-placeholder {    
  color: white;
} 
.input:-moz-placeholder {    
  color: white; 
}

/* Etiqueta temporal para ver la ubicación de las 
columnas */

.column {
  border: 1px solid black;
}

/* Líneas al lado del texto */

.sidelines {
  margin-left: 5px;
  margin-right: 5px;
}

.line {
  width: 30%;
  height: 1px;
}

/* Posiciones */

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
}

.hright {
  justify-content: flex-end;
}

.hleft {
  justify-content: flex-start;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}


/* Padding y márgenes */

.padding-right-xs {
  padding-right: 1em;
}

.general-padding {
  padding: 2.5em;
}

.padding-both-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-right-small {
  padding-right: 2em;
}

.padding-top-small {
  padding-top: 2em;
}

.padding-bottom-small {
  padding-bottom: 2em;
}

.padding-both-large {
  padding-top: 10em;
  padding-bottom: 10em;
}

.padding-top-large {
  padding-top: 10em;
}

.padding-bottom-large {
  padding-bottom: 10em;
}

.padding-general-large {
  padding: 10em;
}

.padding-top-medium {
  padding-top: 5em;
}

.padding-bottom-medium {
  padding-bottom: 5em;
}

.padding-both-medium {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-general-medium {
  padding: 5em;
}

.padding-large-left {
  padding-left: 5em;
}

.padding-large-right {
  padding-right: 5em;
}

.line-height {
  line-height: 1.5;
}

/* Invisibiliza elementos */

.invisible {
  display: none;
}

/* Modificaciones a IDs específicos */

#navbar {
  -webkit-transition:  all .3s;
  transition:  all .3s;
}

#navbar.shrink {
  height: auto;
  background-color: black;
}

.shrink a {
  color: white;
}

.shrink a:hover {
  color: #F7B617;
}

.shrink .fa {
  color: white;
}

#header {
  background-image: url("../images/taxi.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-transition:  all .3s;
  transition:  all .3s;
}

#drive {
  background-image: url('../images/conduce.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#drive .is-one-third-desktop {
  background-color: rgba(8, 0, 20, 0.68);
}

#drive button {
  border: none;
}

#rates {
  margin-bottom: 0;
}

#footer {
  margin-bottom: 0;
}

#logo-inside1 {
  height: 1.2em;
  margin-bottom: -1px;
  margin-left: 3px;
}

#logo-inside2 {
  height: 0.9em;
  margin-bottom: -2px;
}

#travel-content {
  border: 2px solid #fce4ab;
}

#map {
  width: 100%;
  height: 100%;
  border: none;
  border: 5px solid transparent; 
  outline: 2px solid #fce4ab;
}

#rates input {
  width: 80%;
}

#footer {
  line-height: 3;
}

#nav-burger {
  width: auto;
  height: auto;
}

/* Modificaciones para mejorar la experiencia responsive
que no vienen incluidas en el framework */

@media screen and (min-width: 1023px) {

  #footer {
    padding: 5em;
  }

  #travel {
    padding-left: 0;
  }

  #drive {
    padding-bottom: 10em;
  }

}